#subIdDiv {
    float: left;
    margin-left: 5px;
    width: auto;
}

.allTestPaper {
    width: 100%;
}

.testPaper {
    padding: 20px;
    background-color: #eceeee;
    width: 250px;
    height: 180px;
    float: left;
    margin-left: 20px
}
.testPaper:hover{
    box-shadow:0px 0px 10px #000;
}


/************悬浮窗口css*********************/
.popWindow {
    min-width: 300px;
    min-height: 300px;
    background: #FFFFFF;
    padding: 2px;
    margin: 10px;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 2;
    max-height: 600px;
}
.mask {
    background: #000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.input-group{
	margin-top:10px;
}

.buttons.commit-1{
    float:right;
    margin-right:45%;
    margin-bottom: 10px;
}
.buttons.reset-1{
    float:right;
    margin-right:1rem;
}
.ui.blue.buttons .ui.button.red{
    background-color: #DF4B4E;
}
.ui.blue.buttons .ui.button.red:hover{
    background-color:#AC0F12;
}

/*//=============*/
#yearScreenDiv, #gradeScreenDiv, #classScreenDiv, #groupScreenDiv, #studentScreenDiv{
    float: left;
    margin-left: 5px;
    width: auto;
    display: none;
}
