.subIdDiv {
    float: left;
    margin-left: 5px;
    width: auto;
}

.allTestPaper {
    width: 100%;
}

.testPaper {
    padding: 20px;
    background-color: #eceeee;
    width: 300px;
    height: 250px;
    float: left;
    margin: 10px
}
.testPaper:hover{
    box-shadow:0px 0px 10px #000;
}


/************悬浮窗口css*********************/
.popWindow {
    min-width: 300px;
    min-height: 300px;
    background: #FFFFFF;
    padding: 2px;
    margin: 10px;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 2;
    max-height: 600px;
}

.popWindow .content {
    height: 270px;
    background: #fff;
}

.testpa:hover{
    background-color: #8ef9ef;
}

.mask {
    background: #000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.input-1{
	margin-top:10px;
}

.buttons.commit-1{
    float:right;
    margin-right:45%;
    margin-bottom: 10px;
}
.buttons.reset-1{
    float:right;
    margin-right:1rem;
}
.smailtitel{
    font-weight: 900;
    font-size: 16px;
    width: 500px;
    margin-left: 10px;

}
.ui.blue.buttons .ui.button.red{
    background-color: #DF4B4E;
}
.ui.blue.buttons .ui.button.red:hover{
    background-color:#AC0F12;
}

/*//=============*/
#yearScreenDiv, #gradeScreenDiv, #classScreenDiv, #groupScreenDiv, #studentScreenDiv{
    float: left;
    margin-left: 5px;
    width: auto;
    display: none;
}

#adminScreenDiv {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 120px;
    display: none;
}

#TeacherDiv{
    display: none;
}