/* CSS Document */
.column {
    margin-top: 0;
    margin-bottom: 0;
    width: 100% !important;
}

.ui.column.grid > [class*="sixteen wide tablet"].column {
    width: 100% !important;
}

.ui.segments {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
    float: left;
    flex-direction: column;
    margin: 1rem 0rem;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: .58571429rem;
}

.ui.segment {
    /*font-size: 1rem;*/
    position: relative;
    /*background: #fff;*/
    padding: 1em 1em;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.ui.segment.fullheight {
    border: none;
}

.ui.header {
    border: none;
    margin: 0 0;
    padding: 0 0;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
}

.ui.divider {
    font-size: 1rem;
}

.ui.divider {
    width: 100%;
    float: left;
    border-top: 1px solid rgba(34, 36, 38, .15);
    margin: 1rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0, 0, 0, .85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.ui.buttons {
    display: inline-flex;
    flex-direction: row;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
}

.ui.buttons .button:first-child {
    border-left: none;
    margin-left: 0;
    border-top-left-radius: .28571429rem;
    border-bottom-left-radius: .28571429rem;
}

.ui.buttons .button:last-child {
    border-top-right-radius: .28571429rem;
    border-bottom-right-radius: .28571429rem;
}

.ui.buttons .button, .ui.buttons {
    float: left;
}

.ui.blue.button, .ui.blue.buttons .button {
    border: none;
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.blue.ui.buttons .button:hover {
    background-color: #0B3277;
}

.blue.ui.buttons .select {
    background-color: #0B3277;
}

button {
    box-sizing: border-box;
}

.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

.ui.query {
    float: right;
    /*	position:static;*/
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    /*	width: 220px;*/
}

.ui.query input {
    background: none;
    color: #3E21CD;
    font-weight: 700;
    outline: none;
    border: none;
    float: left;
    line-height: 1em;
    padding: 0.655714em 0.3em;
    border-radius: .28571429rem;
}

.ui.query i {
    cursor: pointer;
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.filtr-container {
    /*	border: 1px dashed red;*/
    width: 100%;
    height: auto;
    float: left;
}

.filtr-item.chunk {
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
}

.filtr-item.chunk1 {
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
}

.filtr-item.line {
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
}

.filtr-item.line1 {
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
}

.filtr-item.chunk img {
    margin: 18px;
    width: 80px;
    height: 90px;
}

.filtr-item.chunk1 img {
    margin: 18px;
    width: 80px;
    height: 90px;
}

.filtr-item.chunk1 {
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
}

.filtr-item.line img {
    float: left;
    margin: 0px;
    width: 30px;
    height: 30px;
}

.filtr-item.line1 img {
    float: left;
    margin: 0px;
    width: 30px;
    height: 30px;
}

.filtr-item.chunk .susdiv {
    width: 150px;
    height: 150px;
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 10;
    left: 0px;
    top: 0px;
    background: rgba(52, 26, 99, 0.72);
}

.filtr-item.chunk1 .susdiv {
    width: 150px;
    height: 150px;
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 10;
    left: 0px;
    top: 0px;
    background: rgba(52, 26, 99, 0.72);
}

.filtr-item.line .susdiv {
    width: 100%;
    height: 30px;
    display: none;
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
    background: rgba(52, 26, 99, 0.72);
}

.filtr-item.line1 .susdiv {
    width: 100%;
    height: 30px;
    display: none;
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
    background: rgba(52, 26, 99, 0.72);
}

.filtr-item.chunk .sharefilename {
    margin-top: -10px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: "黑体";
    color: #3347BD;
    line-height: 20px;
    font-size: 16px;
}

.filtr-item.line .sharefilename {
    float: left;
    margin-left: 20px;
    width: 40%;
    height: 30px;
    text-align: left;
    font-family: "黑体";
    color: #3347BD;
    line-height: 30px;
    font-size: 16px;
}

.filtr-item.line1 .sharefilename {
    float: left;
    margin-left: 20px;
    width: 40%;
    height: 30px;
    text-align: left;
    font-family: "黑体";
    color: #3347BD;
    line-height: 30px;
    font-size: 16px;
}

.filtr-item.chunk .sharefilesize {
    display: none;
}

.filtr-item.chunk1 .sharefilesize {
    display: none;
}

.filtr-item.line .sharefilesize {
    display: block;
    float: left;
    margin-left: 20px;
    width: 40%;
    height: 30px;
    text-align: left;
    font-family: "黑体";
    color: #3347BD;
    line-height: 30px;
    font-size: 16px;
}

.filtr-item.line1 .sharefilesize {
    display: block;
    float: left;
    margin-left: 20px;
    width: 40%;
    height: 30px;
    text-align: left;
    font-family: "黑体";
    color: #3347BD;
    line-height: 30px;
    font-size: 16px;
}

.sharefilename {
    overflow: hidden;
    text-overflow: ellipsis;
}

.filtr-item.chunk1 .sharefilename {
    margin-top: -10px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: "黑体";
    color: #3347BD;
    line-height: 20px;
    font-size: 16px;
}

.filtr-item:hover .susdiv {
    display: block;
}


.filtr-item.chunk .download {
    border-radius: 20px;
    width: 100%;
    font-size: 50px;
    line-height: 75px;
    height: 50%;
}

.filtr-item.chunk .download i {
    font-size: 50px;
    line-height: 75px;
}

.filtr-item.line .download {
    height: 100%;
    font-size: 28px;
    line-height: 30px;
    width: 33.33%;
}

.filtr-item.line .download i {
    font-size: 28px;
    line-height: 30px;
}

.filtr-item.line1 .download {
    height: 100%;
    font-size: 28px;
    line-height: 30px;
    float: right;
    width: 50%;
}

.filtr-item.line1 .download i {
    font-size: 28px;
    line-height: 30px;
}

.filtr-item.chunk1 .download {
    border-radius: 20px;
    margin-top: 75px;
    height: 50%;
    font-size: 50px;
    line-height: 75px;
    width: 100%;
}

.filtr-item.chunk1 .download i {
    font-size: 50px;
    line-height: 75px;
}

.filtr-item.chunk .compile {
    border-radius: 20px;
    height: 50%;
    font-size: 35px;
    line-height: 75px;
    width: 50%;
}

.filtr-item.chunk .compile i {
    font-size: 35px;
    line-height: 75px;
}

.filtr-item.line .compile {
    height: 100%;
    font-size: 28px;
    line-height: 30px;
    width: 33.33%;
}

.filtr-item.line .compile i {
    font-size: 28px;
    line-height: 30px;
}

.filtr-item.chunk .delete {
    border-radius: 20px;
    height: 50%;
    font-size: 35px;
    line-height: 75px;
    width: 50%;
}

.filtr-item.chunk .delete i {
    font-size: 35px;
    line-height: 75px;
}

.filtr-item.line .delete {
    height: 100%;
    font-size: 28px;
    line-height: 30px;
    width: 33.33%;
}

.filtr-item.line .delete i {
    font-size: 28px;
    line-height: 30px;
}

.operation {
    text-align: center;
    color: #FFFFFF;
    float: left;
}

.operation:hover {
    color: #AB0508;
    background: #15235A;
}
