<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识点</title>
    <link rel="stylesheet" type="text/css" href="/css/frame/share.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/iconfont1.css">
    <link rel="stylesheet" type="text/css" href="/css/frame/student.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-confirm/jquery-confirm.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-pagination/pagination.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-datetimepicker/jquery.datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/frame/assess.css">

    <script src="/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/js/bootstrap/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
    <script src="/js/jquery/jquery-pagination/jquery.pagination.js"></script>
    <script src="/js/jquery/jquery-confirm.js"></script>
    <script src="/js/jquery/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script src="/js/frame/assess.js"></script>
</head>
<style>
    body{
        margin: 5px;
    }
</style>
<body>
<div style="width:100%;height:40px;">
    <div  class="subIdDiv"  >

        <select name="channels" id="subIdScreen" data-style="btn-info" class="selectpicker" placeholder="请输入学科">
            <option value="0">全部学科</option>
        </select>
    </div>
    <div class="subIdDiv" id="TeacherDiv" >
        <select name="channels"  data-style="btn-info" class="selectpicker" data-live-search="true" id="TeacherSelect">
            <option value="0">全部老师</option>
        </select>
    </div>

    <div class="blue ui buttons" style="float: right;margin-left: 10px;">
        <button class="ui button green"  id="addAssess">发布考核</button>
    </div>

    <div class="ui query subIdDiv">
        <input class="query"  type="text" id="query">
        <i class="my-icon lsm-sidebar-icon icon-chazhao querybtn"></i>
    </div>
</div>
<hr>
<div class="allTestPaper" >

</div>

<div class="paginationParent">
    <div id="showNumberdiv" style="float: right;width:60px;margin-right: 20px;">
        <select name="channels" id="showNumber" data-style="btn-info" class="selectpicker" >
            <option  value="5">5条</option>
            <option  value="10">10条</option>
            <option  value="20">20条</option>
            <option  value="30">30条</option>
            <option  value="40">40条</option>
            <option  value="50">50条</option>
            <option  value="60">60条</option>
            <option  value="70">70条</option>
            <option  value="80">80条</option>
            <option  value="90">90条</option>
            <option  value="100">100条</option>
        </select>
    </div>
    <div style="float: right;">单页显示：</div>
    <label class="totalmsg" style="float: right;"></label>
    <div id="Pagination"></div>
</div>

<div class="popWindow" style="width: 320px;">
    <div class="pop-title" style="width:100%;height:40px;font-size: 20px;line-height: 40px;font-weight: 700;">考核信息</div>
    <div class="pop-left" style="min-width: 300px;width: 300px;height: auto;float: left;margin: 5px;">
        <div class="input-group input-1">
            <span class="input-group-addon" >考核名称</span>
            <input type="text" class="form-control"  aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-1">
            <span class="input-group-addon" >学科</span>
            <select name="channels" id="subIdScreen2" data-style="btn-info" aria-describedby="basic-addon1" class="form-control" placeholder="请输入学科">
                <option value="0">全部学科</option>
            </select>
        </div>
        <div class="input-group input-1">
            <span class="input-group-addon" >试卷</span>
            <input type="text" class="form-control" name="" id="testpaper_id" data_value="" readonly/>
        </div>
        <div class="input-group input-1">
            <span class="input-group-addon" >开始时间</span>
            <input type="text" class="form-control" name="search-from-date" id="search-from-date" readonly/>
        </div>

            <div class="input-group input-1">
            <span class="input-group-addon" >结束时间</span>
            <input type="text" class="form-control" name="search-to-date" id="search-to-date" readonly/>
        </div>

            <table class="table" style="width:100%;border: 1px solid rgba(34, 36, 38, .15);margin-top: 10px ">
                    <thead>
                    <tr><th colspan="2">考核对象</th><th><i class=" my-icon lsm-sidebar-icon icon-tianjia  add-assessuser"></i></th></tr>
                    </thead>
                    <tbody id="">
						<tr class="target" ><td>学年</td><td>2020</td><td><i class="my-icon lsm-sidebar-icon icon-shanchu assessuser-del"></i></td></tr>
						<tr class="target" ><td>班级</td><td>一班</td><td><i class="my-icon lsm-sidebar-icon icon-shanchu assessuser-del"></i></td></tr>
						<tr class="target" ><td>学生</td><td>小明</td><td><i class="my-icon lsm-sidebar-icon icon-shanchu assessuser-del"></i></td></tr>
                    </tbody>
                </table>

    </div>
    <div class="pop-right" style="min-width: 500px;width: 500px; height: auto;float: left;margin: 5px;" >
        <div id="addUser_div" hidden>
            <div class="user-title" style="width:100%;height:45px;">
                <div class="input-group asses-inputs">
                    <span class="input-group-addon" >考核对象</span>
                    <select name="channels" id="queryLevels" aria-describedby="basic-addon1" class="form-control">
                        <option value=1 >学年</option>
                        <option value=2 >学院</option>
                        <option value=3 >班级</option>
                        <option value=4 >小组</option>
                        <option value=5 >学生</option>
                    </select>
                </div>
            </div>
            <table class="table" style="width:100%;border: 1px solid rgba(34, 36, 38, .15); ">
                <thead>
                <tr>
                    <th colspan="2">
                        <div  id="yearScreenDiv" >
                            <select name="channels" id="yearScreen" data-style="btn-info" class="selectpicker"  data-live-search="true" >
                                <option value="0">全部学年</option>

                            </select>
                        </div>
                        <div  id="gradeScreenDiv" >
                            <select name="channels" id="gradeScreen" data-style="btn-info" class="selectpicker"  data-live-search="true" >
                                <option  value="0">全部院系</option>

                            </select>
                        </div>
                        <div  id="classScreenDiv" >
                            <select name="channels" id="classScreen" data-style="btn-info" class="selectpicker"  data-live-search="true" >
                                <option  value="0">全部班级</option>
                            </select>
                        </div>
                        <div  id="groupScreenDiv" >
                            <select name="channels" id="groupScreen" data-style="btn-info" class="selectpicker"  data-live-search="true" >
                                <option  value="0">全部小组</option>
                            </select>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody id="selecttarget">
                <tr class="target" ><td>郭靖</td><td style="text-align: right;"><i class="my-icon lsm-sidebar-icon icon-tianjia assessuser-add"/></td></tr>
                <tr class="target" ><td>黄蓉</td><td style="text-align: right;"><i class="my-icon lsm-sidebar-icon icon-tianjia assessuser-add"/></td></tr>
                <tr class="target" ><td>杨过</td><td style="text-align: right;"><i class="my-icon lsm-sidebar-icon icon-tianjia assessuser-add"/></td></tr>
                </tbody>
            </table>
        </div>
        <div id="screenTest_div" hidden>
            <div class="user-title" style="width:100%;height:45px;">
                <div class="input-group" style="margin-top: 10px;">
                    <input type="text" class="form-control" name="" id="query1" data_value=""/>
                    <span class="input-group-addon" ><i class="my-icon lsm-sidebar-icon icon-chazhao querybtn1"></i></span>
                </div>
            </div>
            <table class="table" style="width:100%;border: 1px solid rgba(34, 36, 38, .15); ">
                <thead>
                    <tr><th>试卷名字</th><th>题目数量</th><th>总分</th><th></th></tr>
                </thead>
                <tbody id="allTestPaper1">
                    <tr class="target" ><td>月考试卷一</td><td>50</td><td>90分</td><td style="text-align: right;"><i class="my-icon lsm-sidebar-icon icon-tianjia test-change"/></td></tr>
                </tbody>
            </table>
            <div class="paginationParent">
                <label class="totalmsg1" style="float: right;"></label>
                <div id="Pagination1"></div>
            </div>
        </div>
    </div>
    <div class="pop-bootm" style="float: left; width:100%;height: 40px;text-align: center;">
        <div class="blue ui buttons" style="float: none;margin-left: 10px;">
            <button class="ui button green"  id="save_ok">保存</button>
        </div>
        <div class="blue ui buttons" style="float: none;margin-left: 10px;">
            <button class="ui button green"  id="cancel">取消</button>
        </div>
    </div>

</div>
</body>
</html>