<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
	<script src="js/jquery/jquery-3.5.1.min.js"></script>
	<script src="../static/js/frame/ytable.js"></script>
</head>
<script>

</script>
<body>
	<table>
		<tr>
			<td class="yid" data="1">1</td>
			<td class="ytext" state="1" data="小明">小明</td>
			<td class="ytext" state="1" data="男">男</td>
			<td class="yselect" state="1" data="0" getlrc="Group/GetGroupByClassId">
				第一组
			</td>
		</tr>
		<tr>
			<td class="yid" data="2">2</td>
			<td class="ytext" state="1" data="小明">小红</td>
			<td class="ytext" state="1" data="男">女</td>
			<td class="yselect" state="1" data="0" getlrc="Group/GetGroupByClassId">
				第一组
			</td>
		</tr>
	</table>
</body>
</html>
