/* CSS Document */
.ui.filelist{
    border: 1px solid rgba(34, 36, 38, .15);
    min-width: 200px;
    width: 30%;
    height: 600px;
    float: left;
    border-radius: 1rem;
    margin-bottom:1em;
}
.ui.filemesg{
    border: 1px solid rgba(34, 36, 38, .15);
    min-width: 600px;
    width: 60%;
    height: 600px;
    float: left;
    border-radius: 1rem;
}